<div style="margin-left: 20px">
    <header>My Messages</header>
    <div>
        <%= render @messages %>
    </div>
    <div>

        <%= form_for(@message, url: message_path) do |form| %>
            <%= form.text_field :body %>
            <%= form.submit %>
        <% end %>
    </div>
</div>
